<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Supermercado", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Inicio",   root_path %></li>
        <li><%= link_to "Funcionários",  '/funcionarios' %></li>
        <li><%= link_to "Produtos", '/produtos' %></li>
         <li><%= link_to "Relatorios", '/relatorios' %></li>
        <li><%= link_to "Sobre", '/welcome/about' %></li>
      </ul>
    </nav>
  </div>
</header>