<% provide(:title, 'Cadastro') %>
<h1>Cadastro</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user do |f| %>
      <%= f.label :nome %>
      <%= f.text_field :nome %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Cadastrar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>