<h1>Supervisor</h1>


<h1>Lista de Produtos</h1>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Validade</th>
      <th>Marca</th>
      <th>Peso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= produto.validade %></td>
        <td><%= produto.marca %></td>
        <td><%= produto.peso %></td>
        <td><%= link_to 'Detalhes', produto %></td>
        <td><%= link_to 'Editar', edit_produto_path(produto) %></td>
        <td><%= link_to 'Remover', produto, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Novo Produto', new_produto_path %>
