<% provide(:title, "Logar") %>
<title><%= yield(:title) %></title>
</br>
</br>
<center>
<%= form_for(:session, url: sessions_path) do |f| %>
<br>
<%= f.label :email_user, "E-mail" %>
<%= f.text_field :email_user %>
</br>
<br>
<%= f.label :password, "Senha" %>
<%= f.password_field :password %>
</br>
<br>
<%= f.submit "Logar", class: "btn btn-large btn-primary" %>
</br>
<% end %>

<p>Novo? <%= link_to "Cadastre-se!", signup_path %></p>
</center>