<%= form_for(@funcionario) do |f| %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <% if @funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
      <% @funcionario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :sexo, "Sexo" %><br>
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :email, "Email" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :data, "Data" %><br>
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :idade, "Idade" %><br>
    <%= f.number_field :idade %>
  </div>
  <div class="field">
    <%= f.label :salario, "Salario" %><br>
    <%= f.number_field :salario %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
</div>
</div>