<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome, "Nome" %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :email, "Email" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Password" %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :admin, "Admin" %><br>
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.label :funcionario, "Funcionario" %><br>
    <%= f.check_box :funcionario %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar'%>
  </div>
<% end %>
